/* *{all:unset;} */
:root{
	--fnts-base:clamp(0.75rem, 2vw, 1rem);
	--fnts-half:calc(var(--fnts-base)*0.5);
	--fnts-double:calc(var(--fnts-base)*2);
}
body{
	margin:0;padding:0;
	font-size:var(--fnts-base);
	box-sizing:border-box;
}
h1, h2, h3, h4, h5, h6, p{
	display:block;
	margin:0;
	line-height:1.5;
}
p{font-size:calc(var(--fnts-base)*1);}
h6{font-size:calc(var(--fnts-base)*0.67);}
h5{font-size:calc(var(--fnts-base)*0.83);}
h4{font-size:calc(var(--fnts-base)*1);}
h3{font-size:calc(var(--fnts-base)*1.17);}
h2{font-size:calc(var(--fnts-base)*1.5);}
h1{font-size:calc(var(--fnts-base)*2);}
button,input,option,select,textarea{font-size:calc(var(--fnts-base)*1);line-height:1.5;}
hr{margin:0;border:0.5px solid #999;}
code,pre{background-color:#eee;}
pre{margin:0;padding:var(--fnts-half);line-height:1.25;}
fieldset{margin:0;padding:var(--fnts-half);border:1px solid #999;}
table{border-collapse:collapse;}
table,th,td{border:1px solid #999;padding:var(--fnts-half);}